@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
#header {
    position: fixed;
    margin-left: 1050px;
    cursor: pointer;
  }
@media (max-width: 500px) {
    #header {
    margin-left: 50px;
    position: fixed;
}
}
.menu{
    width: 40px;
    height: 40px;
    margin-top: 10px;
    padding: 5px;
}
#instagram:hover,
#telegram:hover
 {
    border-radius: 8px;
    box-shadow: 0 0 .2rem #fff,
                0 0 .2rem #fff,
                inset 0 0 1.3rem #dedae6;

}
.container{
    max-width: 750px;
    margin: auto;
    padding-top: 30px;
}
body{
    font-weight: normal;
    font-size: 16px;
    margin: 10px;
    background: linear-gradient(0deg, #ccc8d4 0.08%, #f1419f 155.74%);
    border: 1px solid #fff;
    border-radius: 8px;
    box-shadow: 0 0 .2rem #fff,
             0 0 .2rem #fff,
             inset 0 0 1.3rem #dedae6;
}
.avatar{
  width: 230px;
  height: 300px;
  border-radius: 10px;
  margin-top: 30px;
  margin-left: 0;
  border: 1px solid #fff;
   border-radius: 8px;
   box-shadow: 0 0 .2rem #fff,
            0 0 .2rem #fff,
            inset 0 0 1.3rem #dedae6;
}
.info {
    margin-top: 30px;
    margin-bottom:-150px;
    display: flex;
  }
  
.info-text {
   margin-top: 30px;
   margin-left: 60px;
   margin-bottom: 165px;
   padding: 10px;
   font-style: normal;
   border: 1px solid #fff;
   border-radius: 8px;
   box-shadow: 0 0 .2rem #fff,
            0 0 .2rem #fff,
            inset 0 0 1.3rem #dedae6;
  }
.card{
   margin-left: 290px;
   border: 1px solid #fff;
   border-radius: 8px;
   box-shadow: 0 0 .2rem #fff,
            0 0 .2rem #fff,
            inset 0 0 1.3rem #dedae6;
}
@media (max-width: 500px) {
    .info {
      margin-bottom: 3 0px;
      font-size: 1rem;
      display: block;
      text-align: center;
    }
  
    .avatar {
      width: 75%;
      margin: auto;
    }
  
    .info-text h1 {
      margin: auto;
    }
}
ul,li {
  list-style: none;
  display: inline;
}
h2{
    text-align: center;
}
#book,#game,#music,#plant{
    margin-left: 20px;
}
#book:hover,#game:hover,#music:hover,#plant:hover{
    border-radius: 8px;
    box-shadow: 0 0 .2rem #fff,
                0 0 .2rem #fff,
                inset 0 0 1.3rem #dedae6;
} 
#html,#css,#js{
    width: 50px;
    margin-left:0;
}
#html:hover,#css:hover,#js:hover{
    border-radius: 8px;
    box-shadow: 0 0 .2rem #fff,
                0 0 .2rem #fff,
                inset 0 0 1.3rem #dedae6;
}               
.icon{
    margin: 0;
    padding: 0;
    width: 30px;
  }
#location:hover,#contacts:hover,#gmail:hover{
    border-radius: 8px;
    box-shadow: 0 0 .2rem #fff,
                0 0 .2rem #fff,
                inset 0 0 1.3rem #dedae6;
}
.table {
    border-radius: 8px; 
    border: 1px solid #fff;
    border-radius: 8px;
    box-shadow: 0 0 .2rem #fff,
             0 0 .2rem #fff,
             inset 0 0 1.3rem #dedae6;
    margin-left: 290px;
    margin-top: -350px;
    margin-bottom: 200px;
    text-align: center;
    justify-content: space-between;
    width: 55%;
    padding: 23px;
}
.table th {
  background: #e8f8ff;
  border-radius: 5px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  opacity: 50%;
}

.table td {
  padding-bottom: 25px;
  padding-left: 15px;
  padding-top: 10px;
}
.table td:first-child {
  margin-left: 0px;
}

.table td:hover {
  border-radius: 5px;
  background: #e8ecff;
  transition: all, 0.2s;
}

.table td:nth-child(2),
.table td:nth-child(3) {
  background: #e8ecff;
  border-radius: 5px;
  padding-left: 10px;
  padding-top: 10px;
}
@media (max-width: 500px) {
    .table-job h2 {
      margin-top: 40px;
      padding: 0;
      width: auto;
      text-align: center;
      margin: 0;
    }
  }

.login-box {
    position: relative;
    top: 150px;
    left: 660px;
    width: 400px;
    padding: 10px;
    transform: translate(-50%, -50%);
    background: rgba(0,0,0,.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.3);
    border-radius: 10px;
  } 
  
  .login-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
  }
  
  .login-box .user-box {
    position: relative;
  }
  
  .login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
  }
  .login-box .user-box label {
    position: absolute;
    top:0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
  }
  
  .login-box .user-box input:focus ~ label,
  .login-box .user-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: #03e9f4;
    font-size: 12px;
  }
  
  .login-box form a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #03e9f4;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px
  }
  
  .login-box a:hover {
    background: #f1419f;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #f1419f,
                0 0 25px #f1419f,
                0 0 50px #f1419f,
                0 0 100px #f1419f;
  }
  .login-box a span {
    position: absolute;
    display: block;
  }
  .login-box a span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    animation: btn-anim1 1s linear infinite;
  }
  @media (max-width: 500px) {
    .login-box {
      width: 75%;
      margin: auto;
    }
  }
  .wrapper {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .typing-demo {
    width: 22ch;
    animation: typing 2s steps(22), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: monospace;
    font-size: 2em;
  }